<h1>Emitters</h1>

<% @emitters.each do |emitter| %>
<h3> Name | CO2e/hour | Hours used / Day | Still using </h3>

<p><%= emitter.appliance + " | " + 
emitter.co2e_per_hour.to_s + " | " + 
emitter.hours_per_day.to_s + " | " + 
emitter.use.to_s + " | " +
"individual info here"
 %></p>

 <% end %>