<h1>Emitters</h1>

<h3> Name | CO2e/hour | Hours used / Day | Still using | Owner </h3>
<% @emitters.each do |emitter| %>
  
  <p><%= emitter.appliance + " | " + 
  emitter.co2e_per_hour.to_s + " | " + 
  emitter.hours_per_day.to_s + " | " + 
  emitter.use.to_s  + " | " +
  emitter.individual.name
  %></p>
  
  <% end %>
  <p><%= link_to "All individuals", "/individuals" %></p>